.nav-container {
    flex-basis: 100%;
    margin: 0 auto;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    position: fixed;
}

nav {
    width: 100%;
    background-color: transparent;
    color: white;
    text-shadow: #41434a 0.5px 0.5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 60px;
    padding: 0 40px 0 40px;

}

nav a,
nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #e0e2ff;
}
h4{
    font-size: 12px;
    margin-right: 50px;
}

ul {
    list-style-type: none;
    flex-basis: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.active-menu-link {
    /*border-bottom: 1px solid whitesmoke;*/
}

.default-menu-link {
    border-bottom: none;
}
