.nav-container {
    /*border: white 1px solid;*/
    width: 90%;
    flex-basis: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top: 13px;
}

h4 {
    padding-left: 70px;
}

nav {
    width: 100%;
    background-color: transparent;
    color: white;
    text-shadow: #41434a 0.5px 0.5px;
    display: flex;
    justify-content: space-between;
    /*padding: 0 40px 0 40px;*/

}

nav a,
nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #e0e2ff;
}
h4{
    font-size: 12px;
    margin-right: 50px;
}

.navbar-items{
    /*border: 1px solid white;*/
    display: flex;
    width: 8%;
    justify-content: space-between;
    /*justify-items: flex-end;*/
    list-style-type: none;
    /*text-align: start;*/
/*    flex-basis: 300px;*/
/*    justify-content: space-between;*/

}
.active-menu-link {
    /*border-bottom: 1px solid whitesmoke;*/
}

.default-menu-link {
    border-bottom: none;
}
